@model List<Story>

<div class="mb-8">
    <h3 class="font-extrabold text-2xl text-transparent bg-clip-text bg-gradient-to-r from-pink-500 to-purple-600 mb-4">Stories</h3>

    <div class="relative" tabindex="-1" uk-slider="finite: true; autoplay: false" uk-lightbox="">
        <div class="py-5 uk-slider-container">
            <ul class="uk-slider-items flex gap-3" uk-scrollspy="target: > li; cls: uk-animation-scale-up; delay: 20;repeat:true">

                <li class="md:pr-3" uk-scrollspy-class="uk-animation-fade">
                    <div class="md:w-20 md:h-14 w-20 h-14 rounded-lg relative border-2 border-dashed grid place-items-center bg-slate-200 border-slate-300 shrink-0"
                         uk-toggle="target: #create-story">
                        <ion-icon name="camera" class="text-2xl"></ion-icon>
                    </div>
                </li>




                @foreach (var story in Model)
                {
                    <li class="md:pr-3 pr-2 hover:scale-[1.15] hover:-rotate-2 duration-300 transform transition-all ease-in-out">
                        <a href="@story.ImageUrl">
                            <div class="md:w-20 md:h-14 w-20 h-14 relative md:border-4 border-2 shadow-xl border-white rounded-lg overflow-hidden hover:shadow-lg transform transition-all duration-500 ease-in-out">
                                <img class="object-cover w-full h-full" src="@story.User.ProfilePictureUrl" alt="Story Image" />
                            </div>
                        </a>
                    </li>
                }

                <li class="md:pr-3 pr-2">
                    <div class="md:w-16 md:h-16 w-12 h-12 bg-slate-200/60 rounded-full animate-pulse"></div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        const slider = document.querySelector('.uk-slider-items');
        const sliderItems = document.querySelectorAll('.uk-slider-items > li');

        slider.style.width = `${sliderItems.length * 100}%`;

        const sliderContainer = document.querySelector('.uk-slider-container');
        sliderContainer.classList.add('overflow-hidden', 'scrolling-touch', 'snap-x', 'snap-mandatory');
    });
</script>

